 <div class="users-list">
 <div class="single-user">
<div class="user-image"></div>
<div class="user-data">
<div class="user-username">username : <%= @user.name %></div>
<div class="user-posts">number of posts: 
<% if @user.postsCounter.to_i > 0 %>
  <%= @user.postsCounter %>
<% else %>
  0
<% end %>
</div>
</div>

</div>
<% @user.posts.includes(:comments).each do |post| %>
  <a href='/users/<%= @user.id %>/posts/<%= post.id %>' class='user-link'><div class="single-post">
<h3>
Post #<%= @user.all_posts.index(post)+1 %>
</h3>
<p><%= post.text %></p>
<p style="socials">comments: <% if post.commentsCounter.to_i > 0 %>
  <%= post.commentsCounter %>
<% else %>
  0
<% end %>
, likes :<% if post.likesCounter.to_i > 0 %>
  <%= post.likesCounter %>
<% else %>
  0
<% end %> 
</div><div class="single-post">
<h3>
Comments
</h3>
<% post.recent_comments.each do |comment|%>

<%= comment.author.name %>: <%= comment.text %> <br>

<% end %></div>
</a>
<% end %>
